<%- include('partials/header') %>
<main>
<div class="container">
<form action="/login" method="post">
    <label>تسجيل الدخول</label>
    <input type="text" placeholder="اسم المستخدم">
    <input type="password" placeholder="كلمة المرور">
</form>

</div>
</main>
<%- include('partials/footer') %>