

    <footer class="fixed-bottom p-3 text-bg-dark align-bottom">
        <% let footerDate= new Date().getFullYear() %>
        <div class="container text-center">
        
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">من نحن</a></li>
          <li class="list-inline-item"><a href="#">السياسات والضمان</a></li>
          <li class="list-inline-item"><a href="#">اتصل بنا</a></li>
        </ul>
        <p class="mb-1"> F7M © <%= footerDate %></p>
      </div>
      </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
      
      </body>
      </html>