body{
    min-height: 100vh;
    display:flex;
    flex-direction:column;
}


header{ 
    min-height:50px;
  }

footer {
    min-height:50px; 
}

main{
    flex: 1;
    
}


.adsliderimg{
    height: 30rem;
}

#pimgPreview{
    margin: 20px;
    width: 100px;
}

#adImgPreview{
    margin: 20px;
    width: 150px;
    aspect-ratio: 16 / 9;
}

.previmg{
    width: 50px;
   
}