body{
    min-height: 100vh;
    display:flex;
    flex-direction:column;
}


header{ 
    min-height:50px;
  }

footer {
    min-height:50px; 
}

main{
    flex: 1;
    
}


.adsliderimg{
    height: 30rem;
}

#pimgPreview{
    margin: 20px;
    width: 100px;
}

#adImgPreview{
    margin: 20px;
    width: 150px;
    aspect-ratio: 16 / 9;
}

.previmg{
    width: 50px;
   
}

.previmgs{
    width: 30px;
    
}

img.spi {
    width: 500px;
    height: 500px;
}

.searchinbut{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: 0.375rem 0.25rem;
    

}

