<%- include('partials/header') %>

<main>

    <div class="container mt-5" >
        <h1>الصفحة غير موجودة</h1>
        <p>خطاء رقم 404</p>
        <a href="/">ارجع للصفحة الرئيسية</a>
    </div>
    
</main>


<%- include('partials/footer') %>