<%- include('partials/header') %>



<main>

  
    <div class="container mt-3">
        <h1><%= page1.title %></h1>
  
    </div>

    
    <div class="container mt-5">
        
        <%-page1.content%>
  
    </div>
        
  

    
</main>


<%- include('partials/footer') %>